@{
    Layout = null;
    string error = ViewBag.error;
}
<link rel="stylesheet" href="~/css/loginCss.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/dcb7ffb312.js" crossorigin="anonymous"></script>

<div class="form-wrapper">
    <p><a href="/Login"><i class="fa-solid fa-arrow-left" style="color: #f9f8fc;"></i> Trở lại</a></p>
    <form asp-action="Register" asp-controller="Register" method="post">
        <div class="form-control">
            <input name="username" type="text" required>
            <label>Tên đăng nhập</label>
        </div>
        <div class="form-control">
            <input name="password" type="password" minlength="6" required>
            <label>Mật khẩu</label>
        </div>
        <div class="form-control">
            <input name="rePassword" type="password" minlength="6" required>
            <label>Nhập lại mật khẩu</label>
        </div>
        <button type="submit">Đăng ký</button>
        <div class="form-help">
            @if (error != "Ok" && error != "")
            {
                <span style="color: red;">@error</span>
            }
            else if (error == "Ok")
            {
                <span style="color: green;">Đăng ký thành công <a href="/Login"> Đăng nhập ngay</a></span>
            }

        </div>
    </form>
</div>