@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    string username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    string role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RestaurantManage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RestaurantManage.styles.css" asp-append-version="true" />
    <title>Restaurant</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cake - Bakery</title>

    <!-- Icon css link -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/linearicons/style.css" rel="stylesheet">
    <link href="vendors/flat-icon/flaticon.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="vendors/animate-css/animate.css" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>
<header class="main_header_area">

    <div class="main_menu_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/Home">
                    <img src="img/logo.png" alt="">
                    <img src="img/logo-2.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="my_toggle_menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="dropdown submenu"><a class="dropdown-toggle" href="/Home" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ</a></li>
                        <li><a href="/Table">Danh sách bàn</a></li>
                        <li><a href="/Menu">Thực đơn</a></li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li><a href="/Contact">Liên hệ</a></li>
                        <li class="dropdown submenu"><a class="dropdown-toggle" href="/About" role="button" aria-haspopup="true" aria-expanded="false">Về chúng tôi</a></li>
                        <li class="dropdown submenu">
                            @if (@username != null)
                            {
                                <li class="dropdown submenu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Hi @username</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Account">Thiết lập tài khoản</a></li>
                                        @if (@role == "Admin")
                                        {
                                            <li><a href="/Dashboard">Quản lý</a></li>
                                        }else if (@role == "Staff")
                                        {
                                            <li><a href="/History">Lịch sử đặt bàn</a></li>
                                        }
                                        <li><a href="@Url.Action("Logout", "Login")">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <a class="dropdown-toggle" href="/Login" role="button" aria-haspopup="true" aria-expanded="false">Đăng nhập</a>
                            }
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer_area">
        <div class="footer_widgets">
            <div class="container">
                <div class="row footer_wd_inner">
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_about_widget">
                            <img src="img/footer-logo.png" alt="">
                            <p>Chúng tôi cam kết mang đến cho bạn những sản phẩm tốt nhất, uy tín nhất và dịch vụ chăm sóc khách hàng tận tâm nhất.</p>
                            <ul class="nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                            <div class="f_title">
                                <h3>Liên kết nhanh</h3>
                            </div>
                            <ul class="list_style">
                                <li><a href="#">Tài khoản của bạn</a></li>
                                <li><a href="#">Xem đơn hàng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Điều khoản và điều kiện</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                            <div class="f_title">
                                <h3>Giờ làm việc</h3>
                            </div>
                            <ul class="list_style">
                                <li><a href="#">Thứ Hai - Thứ Sáu: 8 giờ sáng - 8 giờ tối</a></li>
                                <li><a href="#">Thứ Bảy: 9 giờ sáng - 4 giờ chiều</a></li>
                                <li><a href="#">Chủ Nhật: Đóng cửa</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_contact_widget">
                            <div class="f_title">
                                <h3>Thông tin liên hệ</h3>
                            </div>
                            <h4>(1800) 574 9687</h4>
                            <p>Cửa hàng Justshiop <br />256, Phố Baker, New York, 5245</p>
                            <h5>cakebakery@contact.co.in</h5>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright">
            <div class="container">
                <div class="copyright_inner">
                    <div class="float-left">
                        <h5><a target="_blank" href="https://www.templatespoint.net">Templates Point</a></h5>
                    </div>
                    <div class="float-right">
                        <a href="#">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--================End Footer Area =================-->
    <!--================Search Box Area =================-->
    <div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
        <div class="search_box_inner">
            <h3>Search</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/dcb7ffb312.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
