
@{
}

<section class="error_area">
    <div class="container">
        <div class="error_inner">
            <div class="error_inner_text">
                <h3>505</h3>
                <h4>Oops! Bạn vui lòng đăng nhập trước khi truy cập trang này ! </h4>
                @*<h5>Sorry, but the page you are looking for does not existing</h5>*@
                <a class="pink_btn" href="/Login">Đăng nhập ngay</a>
            </div>
        </div>
    </div>
</section>